
.lista-compras {
    background-color: #102130;
    max-width: 500px;
    width: 100%;
    color: white;
    border-radius: 50px;
    margin: auto;
    padding: 30px 50px;
    
}

.titulo-compras {
    font-size: 2.5rem;
    padding: 20px;
}

.lista-label {
    width: 50%;
    text-align: left;
    font-size: 1.3rem;
    border-bottom: 5px;
}

.lista-check {
    margin: 20px;
}

