
.lista-div {
    background-color: #102130;
    max-width: 500px;
    width: 100%;
    color: white;
    border-radius: 50px;
    margin: auto;
    padding: 30px 50px;

    margin-top: 30px;
    
}

.titulo-h1 {
    font-size: 2.5rem;
    padding: 20px;
}

.lista-l {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lista-c {
    margin: 20px;
}

.btn-primary {
    width: 400px;
    margin-top: 25px;
}

