.div-container {
    margin-top: 400px;
    border: 0;
    
}

footer {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    margin: auto;

}

/* Contacto */

.contacto{
    padding: 0 0 100px 0;
    color: #e6e6e6;
    text-align: center;
}

.titulo-seccion {
    font-size: 2.5rem;
}


.contacto .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}

.contacto .contenido-seccion .fila{
    display: flex;
    justify-content: space-around;
}

.contacto .contenido-seccion .fila a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

.contacto .contenido-seccion .fila .col{
    margin-top: 50px;
}
.contacto .contenido-seccion .fila .col h2{
    font-size: 30px;
    color: #218AAA;
}
 
.botonUp i{
    display: inline-block;
    background-color: #ffffff;
    color: #218AAA;
    border: 2px solid #19657d75;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin: 50px 5px;
    transition: .3s;
}

.botonUp i:hover{
    color: #fff;
    background-color: #218AAA;
    box-shadow: 0 0 20px #fff;
}